.nabvar {
  background-color: #182e49;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  border-bottom: 1px double rgba(229, 231, 235, 1);
}
.navbarMin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 922px;
  height: 100%;
  line-height: 1.5rem;
  font-weight: 500;
}

@media only screen and (min-width: 450px) {
  .navbarMin {
    line-height: 0.8rem;
    font-size: small;
  }
}
