.displayCard {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 350px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 350px;
  border: 2px solid black;
  margin: 5px;
}
.displayPath {
  padding: 12px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: #182e49;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.imageTemp{
  object-fit: cover;
}